*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;

}

html{
    font-size: 62.5%;
    background: linear-gradient(rgba(245, 0, 0, 0.936), rgb(255, 237, 37));
}


/* navegação */

.navbar{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    box-shadow: .2rem 0.2rem 0.5rem;
}

.navbar-link{
    display: inline-block;
    padding: 0 15px;
    font-size: 2rem;
    font-weight: 700;
    color: #555;
    text-transform: uppercase;
    position: relative;

}

.navbar-link:hover{
    background-color: rgb(236, 221, 221);
    transition: 0.3s;
    border-radius: 10px;
}

/* navegação */

/* inicio 1 */ 

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1{
    width: 100%;
    height: 100vh;
    background-size: cover;
    flex-direction: column;
}

.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    padding: 0 3rem;
    margin-bottom: 2rem;
    text-transform:  uppercase;
    letter-spacing: 1rem ;
    border-bottom: .3rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);
}

.section-2-heading {

    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    padding: 0 3rem;
    margin-bottom: 2rem;
    text-transform:  uppercase;
    letter-spacing: 1rem ;
    text-shadow: 0.2rem 0.2rem 1rem #555;
    transform: skew(-10deg);
}
.section-2-heading a {
    color: inherit;
}

.foto_pokemon1{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    padding: .5rem;

}

/* fim 1 */ 

/* inicio 2 */ 

#subtitulo{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: #555;
    padding: 0 3rem;
    margin-bottom: 2rem;
    text-transform:  uppercase;
}

.section-2 {
    display: inline-block;
} 

.container{
    display: inline-block;
    justify-content: center;
}

.pokemons {
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;


}
.sobre_pokemons{
    float: right;
    border:rgb(236, 221, 221) solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}

/* fim 2 */ 

/* inicio 3 */ 

.section-3 {
    display: inline-block;
} 

.container3{
    display: inline-block;
}
.pokemons3 {
    float: right;
    border:rgb(236, 221, 221) solid;
    padding: 5px;
    margin: 0px 10px 10px 0;

}
.sobre_pokemons3{
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;

    

}



/* fim 3 */ 

/* inicio 4 */ 

/* fim 4 */ 

/* inicio 5 */ 

/* fim 5 */ 

.section-6 {
    width: 100%;
    height: 15vh;
    background-color: #222;
    flex-direction: column;
    align-items: center;
}    
.copyright {
    color: rgb(250, 244, 244);
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;

}
